{% block sw_cms_block_grid__2_8_2_column %}
    <div class="sw-cms-block-product-2_8_2-column test-hung">
        <slot name="left"></slot>
        <slot name="middle"></slot>
        <slot name="right"></slot>
    </div>
{% endblock %}
